.calc-container {
  height: 100vh;
  overflow: hidden;
  padding: 0 20px;
}

.calc-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 42px;
  .calc-title {
    font-size: 35px;
  }
}

.calc-link {
  position: absolute;
  left: 20px;
  background: none;
  font-size: 20px;
  transition: transform ease 0.5s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    color: dodgerblue;
    transform: scale(1);
  }
}

.calc-result {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.room-lamp {
  width: 100%;
  height: 70%;
  border: 3px solid white;
  border-radius: 100px;
  cursor: pointer;
  transition: all ease 0.5s;
  user-select: none;
  &:hover {
    transform: scale(1.03);
  }
}

.result-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  span {
    font-size: 20px;
  }
}

.result-img {
  width: 100%;
  position: relative;
  user-select: none;
}

.room {
  width: 100%;
  border: 3px solid white;
  border-radius: 100px;
}

.room-length {
  position: absolute;
  top: 450px;
  left: 750px;
  font-size: 30px;
  color: green;
}

.room-width {
  position: absolute;
  top: 410px;
  left: 440px;
  font-size: 30px;
  color: green;
}

.room-height {
  position: absolute;
  top: 315px;
  left: 590px;
  font-size: 30px;
  color: green;
}

.room-square {
  position: absolute;
  bottom: 30px;
  left: 400px;
  font-size: 18px;
  color: black;
  display: flex;
  flex-direction: column;
  span {
    margin-top: 5px;
    font-size: 40px;
    font-weight: 700;
  }
}

.room-illuminance {
  position: absolute;
  top: 50px;
  left: 370px;
  font-size: 18px;
  color: black;
  display: flex;
  flex-direction: column;
  span {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 700;
  }
}
