.calc-container {
  height: 100vh;
  overflow: hidden;
  padding: 0 20px;
}

.calc-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 42px;
  .calc-title {
    font-size: 35px;
  }
}

.calc-link {
  position: absolute;
  left: 20px;
  background: none;
  font-size: 20px;
  transition: transform ease 0.5s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    color: dodgerblue;
    transform: scale(1);
  }
}

.calc-result {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.room-lamp {
  width: 100%;
  height: 70%;
  border: 3px solid white;
  border-radius: 100px;
  cursor: pointer;
  transition: all ease 0.5s;
  user-select: none;
  &:hover {
    transform: scale(1.03);
  }
}

.result-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  span {
    color: dodgerblue;
    font-size: 20px;
  }
}

.result-img {
  width: 100%;
  position: relative;
  user-select: none;
}

.room {
  width: 100%;
  border: 3px solid white;
  border-radius: 100px;
}

.room-length {
  position: absolute;
  top: 82%;
  left: 80%;
  font-size: 30px;
  color: green;
}

.room-width {
  position: absolute;
  top: 75%;
  left: 47%;
  font-size: 30px;
  color: green;
}

.room-height {
  position: absolute;
  top: 55%;
  left: 62%;
  font-size: 30px;
  color: green;
}

.room-square {
  position: absolute;
  bottom: 5%;
  left: 43%;
  font-size: 18px;
  color: black;
  display: flex;
  flex-direction: column;
  span {
    margin-top: 5px;
    font-size: 40px;
    font-weight: 700;
  }
}

.room-illuminance {
  position: absolute;
  top: 10%;
  left: 40%;
  font-size: 18px;
  color: black;
  display: flex;
  flex-direction: column;
  span {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 1152px) {
  .calc-header {
    margin-top: 27px;
    .calc-title {
      font-size: 25px;
    }
  }

  .room-lamp {
    width: 100%;
    height: 65%;
    border-radius: 60px;
  }

  .text {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    font-size: 14px;
    span {
      font-size: 14px;
    }
  }

  .room {
    border-radius: 60px;
  }

  .room-square {
    left: 40%;
    span {
      margin-top: 0px;
      font-size: 30px;
    }
  }

  .room-illuminance {
    left: 37%;
    span {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .calc-result {
    margin-top: 50px;
    grid-template-columns: 35% 65%;
  }

  .result-img {
    height: fit-content;
  }

  .room {
    border-radius: 30px;
  }

  .room-lamp {
    width: 180px;
    height: 180px;
    border-radius: 30px;
  }

  .text {
    height: 30%;
    width: fit-content;
    font-size: 12px;
    span {
      font-size: 12px;
    }
  }

  .result-desc {
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .calc-container {
    padding: 0 10px;
    overflow: auto;
  }

  .calc-header {
    margin-top: 10px;
    .calc-title {
      font-size: 16px;
    }
  }

  .calc-result {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .calc-link {
    left: 0px;
    top: 0;
    font-size: 12px;
    gap: 5px;
    font-weight: 700;
  }

  .room-lamp {
    width: 150px;
    height: 150px;
  }

  .result-desc {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .room-lamp {
    width: 130px;
    height: 130px;
  }
}

@media only screen and (max-width: 400px) {
  .calc-header {
    .calc-title {
      font-size: 14px;
    }
  }

  .room-lamp {
    width: 100px;
    height: 100px;
  }

  .text {
    font-size: 10px;
    span {
      font-size: 10px;
    }
  }

  .calc-link {
    font-size: 10px;
    gap: 2px;
  }
}

@media only screen and (max-width: 320px) {
  .calc-header {
    .calc-title {
      font-size: 12px;
    }
  }

  .text {
    font-size: 8px;
    span {
      font-size: 10px;
    }
  }
}

// room img

@media only screen and (max-width: 1024px) {
  .room-illuminance {
    left: 37%;
    font-size: 16px;
    span {
      margin-top: 0px;
      font-size: 25px;
    }
  }

  .room-square {
    left: 40%;
    bottom: 1%;
    font-size: 16px;
    span {
      font-size: 25px;
    }
  }

  .room-length {
    top: 80%;
    left: 78%;
    font-size: 20px;
  }

  .room-width {
    top: 72%;
    left: 45%;
    font-size: 20px;
  }

  .room-height {
    top: 53%;
    left: 60%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .room-illuminance {
    left: 40%;
  }

  .room-square {
    left: 42%;
  }

  .room-width {
    left: 46%;
  }

  .room-height {
    top: 55%;
  }
}

@media only screen and (max-width: 640px) {
  .room-illuminance {
    left: 37%;
  }

  .room-square {
    left: 40%;
  }
}

@media only screen and (max-width: 512px) {
  .room-illuminance {
    left: 35%;
  }

  .room-square {
    left: 39%;
  }
}

@media only screen and (max-width: 425px) {
  .room-illuminance {
    left: 34%;
    font-size: 14px;
    span {
      font-size: 20px;
    }
  }

  .room-square {
    left: 39%;
    font-size: 14px;
    span {
      font-size: 20px;
    }
  }

  .room-length {
    left: 78%;
    font-size: 14px;
  }

  .room-width {
    left: 46%;
    font-size: 14px;
  }

  .room-height {
    top: 55%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .room-illuminance {
    font-size: 12px;
    span {
      font-size: 18px;
    }
  }

  .room-square {
    font-size: 12px;
    span {
      font-size: 18px;
    }
  }

  .room-length {
    font-size: 12px;
  }

  .room-width {
    top: 70%;
    font-size: 12px;
  }

  .room-height {
    font-size: 12px;
  }
}

@media only screen and (max-width: 365px) {
  .room-illuminance {
    font-size: 10px;
    span {
      font-size: 14px;
    }
  }

  .room-square {
    left: 10%;
    font-size: 10px;
    span {
      font-size: 14px;
    }
  }

  .room-height {
    top: 50%;
  }
}
