.options-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
}

.logoImg {
  width: 200px;
  height: 50px;
  position: absolute;
  right: 20px;
  user-select: none;
}

.options-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.options-title {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
    margin-top: 20px;
  }
}

.options-questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30vh 50vh;
  gap: 20px;
}

.options-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #394863;
  padding: 10px;
  input {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    transition: transform ease 0.5s;
    &:hover {
      background-color: rgb(182, 181, 181);
    }
    &:focus {
      outline: none;
      transform: scale(1.1);
    }
  }
}

.illuminance-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.illuminanceModal {
  position: absolute;
  top: 40px;
  width: 500px;
  border: 1px solid dodgerblue;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
  user-select: none;
  box-shadow: 0px 0px 10px 5px dodgerblue;
  p {
    font-size: 12px;
  }
  span {
    color: dodgerblue;
  }
}

.question-svg {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all ease 0.5s;
  &:hover {
    transform: scale(1.1);
    color: dodgerblue;
  }
}

.options-select {
  width: 200px;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgb(182, 181, 181);
  border-radius: 20px;
  color: #282c34;
  cursor: pointer;
  &:focus {
    outline: none;
    background-color: rgb(182, 181, 181);
  }
}

.option {
  background-color: white;
  color: #282c34;
}

.lamp {
  grid-column: span 2;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  background-color: #394863;
}

.lamp-select {
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
  select {
    margin-top: 10px;
  }
}

.lampData {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 70%;
}

.optionsBtn {
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: transform ease 0.5s;
  cursor: pointer;
  color: #282c34;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
    background-color: dodgerblue;
  }
}

@media only screen and (max-width: 1152px) {
  .options-header {
    margin: 10px 0;
  }

  .options-title {
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .options-questions {
    gap: 10px;
  }

  .options-question {
    gap: 5px;
    padding: 5px;
    p {
      font-size: 14px;
    }
    input {
      font-size: 14px;
    }
  }

  .logoImg {
    width: 180px;
    height: 40px;
    right: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .options-header {
    margin: 10px 0;
  }

  .options-title {
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
      margin-top: 5px;
    }
  }

  .options-questions {
    gap: 5px;
  }

  .options-question {
    gap: 2px;
    p {
      font-size: 12px;
    }
    input {
      font-size: 12px;
    }
  }

  .logoImg {
    width: 130px;
    height: 35px;
    right: 0px;
  }

  .options-select {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .options-container {
    padding: 0 10px;
    overflow: auto;
  }

  .illuminanceModal {
    right: 0px;
    width: 370px;
  }

  .options-header {
    margin: 10px 0;
  }

  .options-title {
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 12px;
      margin-top: 0px;
    }
  }

  .options-questions {
    gap: 5px;
    grid-template-rows: auto;
  }

  .options-question {
    gap: 1px;
    border-radius: 10px;
    p {
      font-size: 10px;
    }
    input {
      font-size: 10px;
    }
  }

  .optionsBtn {
    padding: 0px;
    font-size: 12px;
    width: 100px;
  }

  .lamp {
    border-radius: 10px;
    .lamp-select {
      font-size: 12px;
    }
  }

  .lampDesc {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoImg {
    width: 80px;
    height: 25px;
    top: 0;
  }

  .options-select {
    font-size: 12px;
    width: 180px;
  }
}

@media only screen and (max-width: 400px) {
  .logoImg {
    width: 60px;
    height: 20px;
  }

  .question-svg {
    margin-left: 5px;
  }

  .illuminanceModal {
    width: 300px;
    p {
      font-size: 8px;
    }
  }
}

@media only screen and (max-width: 365px) {
  .logoImg {
    display: none;
  }
}

@media only screen and (max-width: 365px) {
  .options-select {
    font-size: 10px;
    width: 140px;
  }

  .lamp-select select {
    margin-top: 5px;
  }

  .lampDesc {
    font-size: 10px;
  }

  .optionsBtn {
    width: 80px;
  }
}

@media only screen and (max-width: 365px) {
  .illuminanceModal {
    width: 280px;
  }
}
