.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.App-container {
  background-color: #282c34;
}

/* Reset CSS для обнуления стандартных стилей браузера */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Улучшенное семантическое сброса стилей */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Стандартный бокс-модель для удобства работы с отступами и размерами */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Начальные стили для body */
body {
  line-height: 1;
  font-family: Arial, sans-serif;
}

/* Основные стили для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* Основные стили для ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Основные стили для списков */
ul,
ol {
  list-style: none;
}

::-webkit-input-placeholder {
  /* WebKit/Blink browsers */
  color: #282c34;
  opacity: 0.8;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #282c34;
  opacity: 0.8;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #282c34;
  opacity: 0.8;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #282c34;
  opacity: 0.8;
}
